.Tab {
	color: red;
	font-weight: bold;
	outline: none;
}
.Button {
	text-align: center;
	line-height: initial;
	font-weight: bold;
	cursor: pointer;
	transition: linear 200ms all;
	margin: 0;
	color: rgb(255, 255, 255, 0.8);
	display: inline-block;
	border-bottom: black;
}
.Button:hover {
	z-index: 100;
	border-bottom: 3px solid black;
}
.ButtonActive {
	border-bottom: 3px solid black;
	color: white;
	font-weight: bold;
}
.Container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 10% 90%;
	overflow: hidden;
}
.NavBarContainer {
	display: flex;
	width: 60%;
	justify-self: center;
	justify-items: center;
	align-items: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.TabPanelContainer {
	width: 100%;
	height: 100%;
	display: grid;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: justify;
	justify-content: center;
	grid-template-columns: 1fr;
}
.TabPanelItemsConainer {
	display: grid;
	width: 100%;
	grid-template-columns: 3fr 2.5fr 3fr 3fr;
	padding: 5px;
	gap: 5px;
}
.imgTest {
	width: 100%;
}
