.container{
    display: grid;
    grid-template-columns: 20% 65% 15%;
    width: 98%;
    margin-left: 2%;
    align-self: center;
    gap: 2px;
    justify-items: start start start;
}
.btn{
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(128, 128, 128,0);
    border: none;
    outline: none;
    margin-right: 20px;
}
.btn:hover{
    background-color: rgba(128, 128, 128,1);
    border: none;
    outline: none;
}
.btn:focus{
    background-color: black;
    outline: none;
    border: none;
}
.input{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    outline: none;
    border: none;
    background-color: rgba(128, 128, 128,0.6);
    color: white;
    justify-self: center;
}
.input:hover{
    background-color: rgba(128, 128, 128,1);
}
.btnContainer{
    width: 90%;
    justify-self: end;
}
.btnOptionesContainer{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-self: start;
    gap: 10px;
    margin-left: 20px;
}