.container {
	width: 100%;
	height: 100%;
	justify-items: center;
	border: 2px solid green;
}
.CardContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 15px;
	width: 100%;
	height: 100%;
	padding: 20px;
}
.loadingContainer {
	width: 100%;
	height: 100%;
	display: grid;
	justify-items: center;
	align-items: center;
}
.Loading {
	color: white;
}
